# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/typing_platform?retryWrites=true&w=majority

USERNAME_MONGODB=pankajbaria712_db_user 
PASSWORD_MONGODB=NsycDrfAjA1oPMwp
# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here-min-32-chars-for-production

# Google OAuth
GOOGLE_CLIENT_ID=623550260732-r95g78qr5j62lprl8b8a15kuan463vhn.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-client-secret

# Analytics
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Environment
NODE_ENV=development
MONGODB_URI=mongodb+srv://pankajbaria712_db_user:NsycDrfAjA1oPMwp@cluster0.vfg3mrx.mongodb.net/?appName=Cluster0